
    /* text colors */
    $fc-light: rgb(185, 185, 185);
    $fc-middle: rgb(151, 151, 151);
    $fc-dark: rgb(28, 28, 28);

    /* text size */
    $fz-s: 12px;
    $fz-sm: 14px;
    $fz-m: 16px;
    $fz-l: 20px;
    $fz-xl: 24px;

    /* colors */
    $header-color:rgb(28, 28, 28);
    $bc-color:rgb(35, 35, 35);
    $bc-color-light:rgb(185, 185, 185);

    /* border color */
    $border-light: rgba(210, 210, 210, 0.169);
    $border-dark: rgba(28, 28, 28, 0.248);

    /* border radius */
    $border-r: 20px;